{% include "headerbar.html" %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
<br>
<form action = "/createNewTicketOperation/" method="POST" name="createNewTicketForm">
	{% csrf_token %}		
	<label>Title: </label>	
	<input type="text" placeholder="Enter Title" name="createNewTicketTitle" required><br>
	<label>Summary </label><textarea rows="2" cols="25" placeholder="Please write the summary of the issue" name="ticketSummary"></textarea><br><br>
	<label>Assignment Group</label>
	<select name="ticketAssignmentGroup">
		<option value="">Select</option>
		<option value="ITSecAdmin">ITSecAdmin</option>
		<option value="Operations">Operations</option>
		<option value="Network">Network</option>
		<option value="DevTeam">Dev Team</option>
	</select><br><br>
	<!-- <input type="text" name="com"> -->
	<label>Summary </label><textarea rows="2" cols="25" placeholder="Please write the addional of the issue" name="comments"></textarea><br><br>
	<input type="submit" value="Create" name="createNewTicketFormButton">


</form>	

</body>
</html>