{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"> 
</head>
<body>

{% block content %}


<div class="band-header">
	<header class="site-header">
		<tr>
			<h3 id="application-title">IT Service Management</h3>
			<h5 id="current-tab" style="display: inline-block"><a href="http://127.0.0.1:8000/" style="color: white">Home</a></h5>
			<h5 id="user-tag" style="display: inline-block" float: right>Welcome {{ request.user }}</h5>
			<h5 id="user-tag" style="display: inline-block" float: right><a href="http://127.0.0.1:8000/logout_view/" id="logout-link">Logout</a></h5>

		</tr>
	</header>
</div>

<div class="main-content">
	<div class="options">
	<h4>Overview Console</h4>
		<label for="show-options">Show</label>
		<select name="show-options" id="show-options" onchange="location = this.value;">
			<option value="">Select</option>
			<option value="http://127.0.0.1:8000/assignedToMyGroup/">Assigned To My Group</option>
			<option value="http://127.0.0.1:8000/submittedByMe/">Submitted By Me</option>
			<option value="http://127.0.0.1:8000/assignedToMe/">Assigned To Me</option>
			<option value="http://127.0.0.1:8000/tickets/">Focused</option>
			<option value="http://127.0.0.1:8000/showTickets/">Show All Tickets</option>
		</select>
		{% comment %}
		<button id="show-options-button" onclick="location.href='{% url 'view_tickets' %}'">Go!</button>
		{% endcomment %}		

		<label for="show-company"> Company</label>
		<select name="show-company" id="show-company">

		{ #<script type="text/javascript" src="{% static '/js/main.js' %}"></script>#}
		</select>	
		<button id="createTicket" onclick="location.href='http://127.0.0.1:8000/createNewTicket/'" type="button">Create New Ticket</button>	
	</div>
</div>

{% endblock %}

</body>
</html>


