{% load static %}

{% include "headerbar.html" %}

<!DOCTYPE html>
<html>
<head>
	<title>Ticketing System</title>
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"> 
</head>
<body>

<h3 align="center"> {{ current_message }}	</h3>

{% if All_tickets_data %}
	{% for tick_details in All_tickets_data %}

		<div class="ticket-content">
			<div class = "ticket">
				<p>Ticket ID  		:	{{ tick_details.0 }}</p>
				<p>Title    		:   {{ tick_details.1 }}</p>
				<p>Summary 			: 	{{ tick_details.2 }}</p>
				<p>Assigned Engineer: 	{{ tick_details.3 }}</p>
				<p>Status 			: 	{{ tick_details.5 }}</p>
				<p>Assignment Group : 	{{ tick_details.6 }}</p>
				<form method="POST" action="http://127.0.0.1:8000/ticketDetails/">
				{% csrf_token %}
				<button name="ticketID" value={{ tick_details.0 }} onclick="window.location.href='{% url 'ticketDetails' %}'">Show Details</button>
				</form>
			</div>
			
		</div>
	{% endfor %}

{% endif %}
<script type="text/javascript" src="{% static '/js/main.js' %}"></script>
</body>
</html>