{% include "headerbar.html" %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<h1>{{ message }}: </h1>

	<form action = "/createNewTicketOperation/" method="POST" name="updateTicketForm">
	{% csrf_token %}
		<div class="ticket-content">
			<div class = "ticket">
				Ticket ID:<input type="label" name="ticketID" value={{ All_tickets_data.0 }}></input><br>
				
				Title:<input type="text" value="{{ All_tickets_data.1 }}" name="title"></input><br>
				
				Summary:<input type="text" value="{{ All_tickets_data.2 }}" name="summary"></input><br>
				
				Assigned Engineer: <input type="label" value="{{ All_tickets_data.3 }}" name="assignedEngineer" readonly="readonly"/><br>
				
				Status <input type="label" value="{{ All_tickets_data.5 }}" name="status" ></input><br>
				
				Assignment Group <input type="label" value="{{ All_tickets_data.6 }}" name="assignmentGroup"></input><br>
				
				<input type="submit" name="updateTicketFormButton" value="Update"></input><br>
			</div>
		</div>
	</form>		
</body>
</html>