body {
	padding: 0px;
	margin: 0px;
	margin-top: 0px;
	padding-top: 0px;
}

.band-header, .siteheader {
	background-color: darkblue;
	color: white;
	height: 100%
	margin:0;
}


#user-tag {
	float: right;
	margin-right: 20px
}

#console-overview {
	margin-left: 10px;
	margin-top: 4px;
}

#application-title {
	margin-left: 20px;
	padding-top: 10px;
}

#current-tab {
	margin-left: 20px;
	color: white;
}

.main-content {
	border-style: ridge;
	height: 100%;
	border-radius: 10px;
}


.options {
	padding-top: 0px;
	margin-left: 10px;
}

.ticket-content {
	border-style: ridge;
	height: 100%;
	border-radius: 10px;
}

.ticket {
	border-style: ridge;
	height: 100%;
	border-radius: 10px;
}

